// Colors
$sublime: #f2709c;
$sublime: to bottom, #ff9472, #f2709c;
$sublime: to bottom, #ff9472, #f2709c;

// Spacing
$s-size: 1.6rem;
$m-size: 2.3rem;
$l-size: 3.6rem;

// Devices
$desktop-breakpoint: 45rem;
